$color-primary-dark: #0b153c;
$color-primary-light: #17c2ec;
$bg-button-1: rgba(#c4c4c4, 0.05);
$bg-button-2: rgba(#c4c4c4, 0.1);
$bg-button-3: rgba(#c4c4c4, 0.15);
$bg-button-4: rgba(#c4c4c4, 0.2);
$color-grey-light-1: rgba(#fff, 0.7);
$color-grey-light-2: rgba(#fff, 0.5);
$color-grey-dark-1: rgba(#0b153c, 0.15);
$color-text-dark-1: rgba(#0b153c, 0.5);

@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Kodchasan:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
// Breakpoint
$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

// Max width
@mixin mwxs {
  @media (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin mwsm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin mwmd {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin mwlg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin mwxl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin mwxxl {
  @media (max-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

// Min width
@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

p {
  margin: 0 !important;
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @include mwmd {
    font-size: 80%;
  }
  @include mwxs {
    font-size: 65%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  transition: all 0.25s;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

.flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Container */

header {
  min-height: 100vh;
  background-color: $color-primary-dark;
  position: relative;
  padding-top: 9.5rem;
  padding-bottom: 1rem;
  @include mwlg {
    padding-top: 6rem;
  }
}

/**** Navbar ****/
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4.5rem;
  z-index: 999;
  background-color: $color-primary-dark;
  box-shadow: 0 5px 7px rgba($color: #000000, $alpha: 0.09);
  color: #fff;
  .container {
    @extend .flex-layout;
    padding-right: 1.5rem;
  }
}

.nav-logo {
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  &::before {
    content: "";
    width: 4rem;
    height: 1.5px;
    background-color: $color-primary-light;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Nav Toggle */
.nav-toggle {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  width: max-content;
  height: max-content;
  font-size: 1.75rem;
  &:hover {
    color: $color-primary-light;
  }
  @include lg {
    display: none;
  }
}

.icon-menu,
.icon-close {
  position: absolute;
  transition: all 0.4s;
}

.icon-close {
  opacity: 0;
  transform: rotate(0);
  font-size: 2rem;
}

.show-toggle {
  .icon-close {
    opacity: 1;
    transform: rotate(90deg);
  }
  .icon-menu {
    opacity: 0;
    transform: rotate(90deg);
  }
}

/* Nav content - Nav links and Others */

.nav-content {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1.25rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.link-active {
  color: #fff !important;
}

.nav-link {
  font-weight: 500;
  color: $color-grey-light-2;
  transition: all 0.35s;
}

/* Media query for nav-content */

@include mwlg {
  .nav-content {
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;

    flex-direction: column;
    transform: translateY(-2rem);
    background-color: $color-primary-dark;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    button {
      margin-bottom: 1.5rem;
    }
    transition: opacity 0.2s, max-height 1s, transform 0.3s;
  }
  .nav-links {
    margin-top: 1rem;
  }
}

@include mwmd {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;

    li {
      width: 100%;
    }
    a {
      text-align: center;
      padding: 0.75rem;
      border-radius: 5px;
      &:hover {
        background-color: $bg-button-1;
      }
    }
  }
}

.show-nav {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
}

/* Button */
.btn-project {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  transition: all 0.3s;

  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background-color: #fff;
    color: $color-primary-light;
  }
}

.btn-outline {
  background-color: $bg-button-2;
  color: $color-primary-light;
}

.btn-border {
  border: 1px solid $color-primary-light;
  background-color: $bg-button-2;
  color: #fff;
}

.btn-fill {
  background-color: $color-primary-light;
  color: #fff;
}

.btn-sub {
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  position: relative;
  transition: all 0.35s;

  &:active {
    transform: translateY(1px);
  }
}

.btn-sub-color {
  color: $color-primary-light;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1.5px;
    background-color: $color-primary-light;
    left: 0;
    bottom: 0;
    transition: all 0.35s;
  }
}

.btn-sub-color:hover::before {
  width: 100%;
}

.btn-sub-mute {
  color: $color-grey-light-1;
  &:hover {
    color: #fff;
  }
}

/* Utility */
.text-primary {
  color: $color-primary-light !important;
}

.text-grey-light {
  color: $color-grey-light-1;
}

.bg-grey-light-1 {
  background-color: $bg-button-1;
}

.bg-grey-light-2 {
  background-color: $bg-button-2;
}

.bg-grey-light-3 {
  background-color: $bg-button-3;
}

.bg-grey-light-4 {
  background-color: $bg-button-4;
}

.text-grey-dark {
  color: rgba($color-primary-dark, $alpha: 0.5);
}

.text-grey-dark-2 {
  color: rgba($color-primary-dark, $alpha: 0.9);
}

.bg-primary {
  background-color: $color-primary-light !important;
}

/* Header content */

//image hero
.hero-img {
  height: calc(20rem + 15vw);
  border-radius: 1.5rem;
}

.img-ab {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sm-doctor-img {
  left: 8%;
}

.sm-virus-img {
  right: 8%;
}

.grey-box {
  padding: 1rem;
  background-color: $bg-button-1;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;

  position: absolute;
  bottom: -2rem;
  left: 0;
}

.doctor-sm {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}

@include mwlg {
  .text-describe {
    max-width: 32rem;
  }
}

@include mwmd {
  .sm-doctor-img {
    left: -1rem;
  }

  .sm-virus-img {
    right: -1rem;
  }
}

.sm-box {
  background-color: $bg-button-2;
  padding: 0.5rem 0.8rem;
  border-radius: 7px;
}

/* Schedule */
.schedule-container {
  margin-top: 1rem;
  background-color: $bg-button-2;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 7px rgba($color: #000000, $alpha: 0.09);

  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  @include mwxl {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mwxs {
    grid-template-columns: 1fr;
  }
}

/* Main Content */
.main-content {
  background-color: $color-primary-dark;
  padding-bottom: 3.5rem;

  .form-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    @include mwmd {
      flex-direction: column;
      align-items: start;
    }
    button {
      font-size: 1rem;
    }
  }
}

.logo-container {
  padding: 0.25rem 1rem;
  overflow: hidden;
  background-color: #fff;
  gap: 0.5rem;
  display: flex;
  img {
    max-width: 23vw;
    object-fit: contain;
    max-height: 4rem;
    opacity: 0.6;
  }
}

.inp-result {
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.4rem 0.75rem;
  border: 2px solid $bg-button-2;
  color: #fff;
  outline: none !important;
  @include sm {
    width: 20rem;
  }
  ::placeholder {
    color: $color-grey-light-2;
  }
}

.inp-result:focus {
  border-color: $color-primary-light !important;
}

.container-result {
  @include mwsm {
    max-width: calc(100% - 1.5rem);
  }
}

.box-shield-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mwxs {
    grid-template-columns: 1fr;
  }
  gap: 2rem;
}

.shield-box {
  background-color: $bg-button-4;
  border-radius: 1rem;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem 1rem 2.5rem;
}

.box-border-grey {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
  padding: 1.25rem 1.25rem 1.75rem;
  border-radius: 2rem;
  border: 2px solid $color-grey-light-2;
}

.text-cta {
  color: $color-grey-light-1;
  font-size: 0.85rem;
  max-width: 80%;
  align-self: end;
  @include mwlg {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

/* registration */

.registration {
  background-color: #fff;
  padding: 1.5rem 0;
  color: #0b153c;
  input {
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    background-color: $color-grey-dark-1;
    border: none;
    outline: none;
    width: 100%;
  }
}
.form-regis {
  @include xl {
    max-width: 70%;
  }
  @include mwmd {
    padding-inline: 2rem;
  }
  .hero-img-container {
    width: 70%;
    margin: 2rem 0;
    img {
      margin: 0;
    }
  }
}

.phone-input-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.25rem;
  @include mwlg {
    grid-template-columns: 4fr 1fr;
    gap: 0.75rem;
  }
}

.btn-verify {
  background-color: $color-primary-light;
  color: #fff;
  font-weight: 500;
  padding-inline: 1.5rem;
  &:hover {
    background-color: #0c8dad;
    color: #fff;
  }
}

.country-container {
  z-index: 2;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  span {
    color: rgba(#000, 0.5);
  }
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.country-img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: contain;
}

.inp-phone {
  padding-left: 6.25rem !important;
  width: 100%;
}

.slash {
  background-color: rgba(#000, 0.5);
  width: 1.5px;
  height: 1.4rem;
  display: inline-block;
}

.img-sub-hero {
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
}

.virus-hero-img {
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-customize {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: $bg-button-2;
  color: #fff;
  transition: all 0.35s;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    background-color: $bg-button-4;
  }
}

.text-covid {
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 4;
  color: #fff;
  font-size: 1.25rem;
}

/* Symptoms */
.symptoms {
  padding-top: 4rem;
  background-color: $color-primary-dark;
}

.symptoms-detail-container {
  margin-top: 3.5rem;
  position: relative;
}
.sym-item {
  position: absolute;
  display: flex;
  align-items: center;
  &-1 {
    top: 10%;
    left: 20%;
  }
  &-2 {
    top: 35%;
    left: 12.5%;
  }
  &-3 {
    top: 60%;
    left: 5%;
  }
  &-4 {
    top: 10%;
    right: 20%;
  }
  &-5 {
    top: 35%;
    right: 12.5%;
  }
  &-6 {
    top: 60%;
    right: 5%;
  }

  @include mwlg {
    p {
      color: #fff !important;
    }
    &-1 {
      left: 6%;
    }
    &-2 {
      left: 3%;
    }
    &-3 {
      left: 2%;
    }
    &-4 {
      right: 2%;
    }
    &-5 {
      right: 2%;
    }
    &-6 {
      right: 2%;
    }
  }
  p {
    margin: 0;
  }
  .sym-text-container {
    background-color: $bg-button-4;
    display: grid;
    place-items: center;
    min-width: 10rem;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    border-radius: 10px;
  }
}

.sym-virus-img {
  z-index: 3;
  height: 4rem;
  margin: 0;
  margin-right: -1.25rem;
}

/* Feedback */
.feedback {
  background-color: #fff;
  padding-top: 3rem;
  color: #000;
}

.feedback-container {
  margin-top: 3rem;
  margin-bottom: -3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: calc(1.5rem + 2vw);

  @include mwlg {
    grid-template-columns: 1fr;
    padding-inline: 5rem;
  }
  @include mwxs {
    padding-inline: 1rem;
  }
}

@include lg {
  .text-feedback {
    width: 70%;
  }
}

.feedback-box {
  z-index: 3;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.7rem 1rem rgba($color: #000000, $alpha: 0.1);
  position: relative;
  background-color: rgba(#c4c4c4, $alpha: 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../asset/bottle.png);
    background-position: center;
    background-size: contain;
    width: 150%;
    height: 150%;
    opacity: 0.15;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.patient-img {
  height: 4rem;
  width: 3rem;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 7px rgba($color: #000000, $alpha: 0.09);
}

.mail-box-container {
  background-color: $bg-button-3;
  border-radius: 2.5rem;
  width: 85%;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;

  transform: translateY(50%);
}

.mail-box {
  background-color: $color-primary-light;
  height: 15rem;
  width: 100%;
  border-radius: 2.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  // justify-content: center;
}

.btn-send-email {
  background-color: $color-primary-dark;
  display: grid;
  place-items: center;
  padding-inline: 0.6rem;
  border: none;
}

.btn-group {
  width: 18rem;
}

.heading-email {
  margin-top: 2.5rem;
}

footer {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: $color-primary-dark;
}

.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .links-footer {
    display: flex;
    gap: 1.25rem;
  }

  @include mwlg {
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
  }
}

.icon-container {
  font-size: 1.5rem;
  color: #fff;
}
