@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Kodchasan:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
p {
  margin: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 65%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  transition: all 0.25s;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

.flex-layout, .navbar .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Container */
header {
  min-height: 100vh;
  background-color: #0b153c;
  position: relative;
  padding-top: 9.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  header {
    padding-top: 6rem;
  }
}

/**** Navbar ****/
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4.5rem;
  z-index: 999;
  background-color: #0b153c;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
  color: #fff;
}
.navbar .container {
  padding-right: 1.5rem;
}

.nav-logo {
  font-size: 1.5rem;
  color: #fff;
  position: relative;
}
.nav-logo::before {
  content: "";
  width: 4rem;
  height: 1.5px;
  background-color: #17c2ec;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Nav Toggle */
.nav-toggle {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.75rem;
}
.nav-toggle:hover {
  color: #17c2ec;
}
@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

.icon-menu,
.icon-close {
  position: absolute;
  transition: all 0.4s;
}

.icon-close {
  opacity: 0;
  transform: rotate(0);
  font-size: 2rem;
}

.show-toggle .icon-close {
  opacity: 1;
  transform: rotate(90deg);
}
.show-toggle .icon-menu {
  opacity: 0;
  transform: rotate(90deg);
}

/* Nav content - Nav links and Others */
.nav-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1.25rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.link-active {
  color: #fff !important;
}

.nav-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.35s;
}

/* Media query for nav-content */
@media (max-width: 992px) {
  .nav-content {
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    transform: translateY(-2rem);
    background-color: #0b153c;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s, max-height 1s, transform 0.3s;
  }
  .nav-content button {
    margin-bottom: 1.5rem;
  }
  .nav-links {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav-links li {
    width: 100%;
  }
  .nav-links a {
    text-align: center;
    padding: 0.75rem;
    border-radius: 5px;
  }
  .nav-links a:hover {
    background-color: rgba(196, 196, 196, 0.05);
  }
}
.show-nav {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
}

/* Button */
.btn-project {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  transition: all 0.3s;
}
.btn-project:active {
  transform: scale(0.95);
}
.btn-project:hover {
  background-color: #fff;
  color: #17c2ec;
}

.btn-outline {
  background-color: rgba(196, 196, 196, 0.1);
  color: #17c2ec;
}

.btn-border {
  border: 1px solid #17c2ec;
  background-color: rgba(196, 196, 196, 0.1);
  color: #fff;
}

.btn-fill {
  background-color: #17c2ec;
  color: #fff;
}

.btn-sub {
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  position: relative;
  transition: all 0.35s;
}
.btn-sub:active {
  transform: translateY(1px);
}

.btn-sub-color {
  color: #17c2ec;
}
.btn-sub-color::before {
  position: absolute;
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #17c2ec;
  left: 0;
  bottom: 0;
  transition: all 0.35s;
}

.btn-sub-color:hover::before {
  width: 100%;
}

.btn-sub-mute {
  color: rgba(255, 255, 255, 0.7);
}
.btn-sub-mute:hover {
  color: #fff;
}

/* Utility */
.text-primary {
  color: #17c2ec !important;
}

.text-grey-light {
  color: rgba(255, 255, 255, 0.7);
}

.bg-grey-light-1 {
  background-color: rgba(196, 196, 196, 0.05);
}

.bg-grey-light-2 {
  background-color: rgba(196, 196, 196, 0.1);
}

.bg-grey-light-3 {
  background-color: rgba(196, 196, 196, 0.15);
}

.bg-grey-light-4 {
  background-color: rgba(196, 196, 196, 0.2);
}

.text-grey-dark {
  color: rgba(11, 21, 60, 0.5);
}

.text-grey-dark-2 {
  color: rgba(11, 21, 60, 0.9);
}

.bg-primary {
  background-color: #17c2ec !important;
}

/* Header content */
.hero-img {
  height: calc(20rem + 15vw);
  border-radius: 1.5rem;
}

.img-ab {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sm-doctor-img {
  left: 8%;
}

.sm-virus-img {
  right: 8%;
}

.grey-box {
  padding: 1rem;
  background-color: rgba(196, 196, 196, 0.05);
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  bottom: -2rem;
  left: 0;
}

.doctor-sm {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .text-describe {
    max-width: 32rem;
  }
}
@media (max-width: 768px) {
  .sm-doctor-img {
    left: -1rem;
  }
  .sm-virus-img {
    right: -1rem;
  }
}
.sm-box {
  background-color: rgba(196, 196, 196, 0.1);
  padding: 0.5rem 0.8rem;
  border-radius: 7px;
}

/* Schedule */
.schedule-container {
  margin-top: 1rem;
  background-color: rgba(196, 196, 196, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
  .schedule-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .schedule-container {
    grid-template-columns: 1fr;
  }
}

/* Main Content */
.main-content {
  background-color: #0b153c;
  padding-bottom: 3.5rem;
}
.main-content .form-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (max-width: 768px) {
  .main-content .form-group {
    flex-direction: column;
    align-items: start;
  }
}
.main-content .form-group button {
  font-size: 1rem;
}

.logo-container {
  padding: 0.25rem 1rem;
  overflow: hidden;
  background-color: #fff;
  gap: 0.5rem;
  display: flex;
}
.logo-container img {
  max-width: 23vw;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 4rem;
  opacity: 0.6;
}

.inp-result {
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.4rem 0.75rem;
  border: 2px solid rgba(196, 196, 196, 0.1);
  color: #fff;
  outline: none !important;
}
@media (min-width: 576px) {
  .inp-result {
    width: 20rem;
  }
}
.inp-result ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.inp-result ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.inp-result:focus {
  border-color: #17c2ec !important;
}

@media (max-width: 576px) {
  .container-result {
    max-width: calc(100% - 1.5rem);
  }
}

.box-shield-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 400px) {
  .box-shield-container {
    grid-template-columns: 1fr;
  }
}

.shield-box {
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 1rem;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem 1rem 2.5rem;
}

.box-border-grey {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
  padding: 1.25rem 1.25rem 1.75rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.text-cta {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
  max-width: 80%;
  align-self: end;
}
@media (max-width: 992px) {
  .text-cta {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

/* registration */
.registration {
  background-color: #fff;
  padding: 1.5rem 0;
  color: #0b153c;
}
.registration input {
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  background-color: rgba(11, 21, 60, 0.15);
  border: none;
  outline: none;
  width: 100%;
}

@media (min-width: 1200px) {
  .form-regis {
    max-width: 70%;
  }
}
@media (max-width: 768px) {
  .form-regis {
    padding-inline: 2rem;
  }
}
.form-regis .hero-img-container {
  width: 70%;
  margin: 2rem 0;
}
.form-regis .hero-img-container img {
  margin: 0;
}

.phone-input-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.25rem;
}
@media (max-width: 992px) {
  .phone-input-container {
    grid-template-columns: 4fr 1fr;
    gap: 0.75rem;
  }
}

.btn-verify {
  background-color: #17c2ec;
  color: #fff;
  font-weight: 500;
  padding-inline: 1.5rem;
}
.btn-verify:hover {
  background-color: #0c8dad;
  color: #fff;
}

.country-container {
  z-index: 2;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.country-container span {
  color: rgba(0, 0, 0, 0.5);
}

.country-img {
  height: 2.5rem;
  width: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.inp-phone {
  padding-left: 6.25rem !important;
  width: 100%;
}

.slash {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1.5px;
  height: 1.4rem;
  display: inline-block;
}

.img-sub-hero {
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.virus-hero-img {
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-customize {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(196, 196, 196, 0.1);
  color: #fff;
  transition: all 0.35s;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.btn-customize:hover {
  background-color: rgba(196, 196, 196, 0.2);
}

.text-covid {
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 4;
  color: #fff;
  font-size: 1.25rem;
}

/* Symptoms */
.symptoms {
  padding-top: 4rem;
  background-color: #0b153c;
}

.symptoms-detail-container {
  margin-top: 3.5rem;
  position: relative;
}

.sym-item {
  position: absolute;
  display: flex;
  align-items: center;
}
.sym-item-1 {
  top: 10%;
  left: 20%;
}
.sym-item-2 {
  top: 35%;
  left: 12.5%;
}
.sym-item-3 {
  top: 60%;
  left: 5%;
}
.sym-item-4 {
  top: 10%;
  right: 20%;
}
.sym-item-5 {
  top: 35%;
  right: 12.5%;
}
.sym-item-6 {
  top: 60%;
  right: 5%;
}
@media (max-width: 992px) {
  .sym-item p {
    color: #fff !important;
  }
  .sym-item-1 {
    left: 6%;
  }
  .sym-item-2 {
    left: 3%;
  }
  .sym-item-3 {
    left: 2%;
  }
  .sym-item-4 {
    right: 2%;
  }
  .sym-item-5 {
    right: 2%;
  }
  .sym-item-6 {
    right: 2%;
  }
}
.sym-item p {
  margin: 0;
}
.sym-item .sym-text-container {
  background-color: rgba(196, 196, 196, 0.2);
  display: grid;
  place-items: center;
  min-width: 10rem;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  border-radius: 10px;
}

.sym-virus-img {
  z-index: 3;
  height: 4rem;
  margin: 0;
  margin-right: -1.25rem;
}

/* Feedback */
.feedback {
  background-color: #fff;
  padding-top: 3rem;
  color: #000;
}

.feedback-container {
  margin-top: 3rem;
  margin-bottom: -3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(1.5rem + 2vw);
}
@media (max-width: 992px) {
  .feedback-container {
    grid-template-columns: 1fr;
    padding-inline: 5rem;
  }
}
@media (max-width: 400px) {
  .feedback-container {
    padding-inline: 1rem;
  }
}

@media (min-width: 992px) {
  .text-feedback {
    width: 70%;
  }
}
.feedback-box {
  z-index: 3;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: rgba(196, 196, 196, 0.5);
}
.feedback-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../asset/bottle.png);
  background-position: center;
  background-size: contain;
  width: 150%;
  height: 150%;
  opacity: 0.15;
  background-repeat: no-repeat;
  z-index: -1;
}

.patient-img {
  height: 4rem;
  width: 3rem;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
}

.mail-box-container {
  background-color: rgba(196, 196, 196, 0.15);
  border-radius: 2.5rem;
  width: 85%;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
  transform: translateY(50%);
}

.mail-box {
  background-color: #17c2ec;
  height: 15rem;
  width: 100%;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.btn-send-email {
  background-color: #0b153c;
  display: grid;
  place-items: center;
  padding-inline: 0.6rem;
  border: none;
}

.btn-group {
  width: 18rem;
}

.heading-email {
  margin-top: 2.5rem;
}

footer {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #0b153c;
}

.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.content-footer .links-footer {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 992px) {
  .content-footer {
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
  }
}

.icon-container {
  font-size: 1.5rem;
  color: #fff;
}/*# sourceMappingURL=style.css.map */